@import 'tailwindcss';
/* @import "tailwindcss/preflight"; */
@variant dark (&:where(.dark, .dark *));

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0B0113;
  --bg-full-pattern: none;
  --bg-gradient-pattern: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-geist: var(--font-geist-sans);
  --font-work: var(--font-work-sans);
  --font-space-mono: var(--font-space-mono);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-jersey-10: var(--font-jersey-10);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

.dark {
  --background: #0B0113;
  --foreground: #ffffff;
  --bg-full-pattern: url(/effect.png), linear-gradient(213.91deg, rgba(23, 22, 22, 0) 61.67%, rgba(44, 9, 74, 0.71) 116.1%), linear-gradient(144.95deg, rgba(19, 19, 19, 0) 50.66%, rgba(142, 56, 217, 0.15) 84.18%);
  --bg-gradient-pattern: linear-gradient(213.91deg, rgba(23, 22, 22, 0) 61.67%, rgba(44, 9, 74, 0.71) 116.1%), linear-gradient(144.95deg, rgba(19, 19, 19, 0) 50.66%, rgba(142, 56, 217, 0.15) 84.18%);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}